.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--primary);
  font-size: 2.4rem;
  font-weight: 700;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.logoLink:hover {
  filter: brightness(0.8);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
